# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables / secrets
.env

# Editor/OS junk
.vscode/
.idea/
.DS_Store
Thumbs.db